{{#if cart }}
<div class="cartContainer">
    <h3>Cart Id: {{cart._id}}</h3>
    <div>
    {{#each cart.products}}
    <div class="= itemContainer">
        <p>Id del producto: {{this.product._id}}</p>
        <p>Id del producto: {{this.product.description}}</p>
        <p>Nombre del producto: {{this.product.title}}</p>
        <p>Precio del producto: {{this.product.price}}</p>
        <p >Cantidad: {{this.quantity}}</p>
    </div>

    {{else}}
    <div class="noProductsCart">
        <p>El Cart no cuenta con productos aún</p>        
    </div>
    {{/each}}  
    </div>
{{else}}
<div class="cartErrorContainer">
    <h3>{{message}}</h3>
</div>

{{/if}}


</div>

<script src="/js/carts_Id.js"></script>
