<div id="listProductsContainer" class="listProductsContainer">
  {{#each productlist.docs}}
<div id="pageProducts">
    <p>Nombre: {{this.title}}</p>
    <p id="productViewId">Id: {{this.id}}</p>
    <p>Id: {{this.description}}</p>
    <p>Precio {{this.price}}</p>
    <p>Stock: {{this.stock}}</p>
    <p>code: {{this.code}}</p>
    <input id="productQuantity" type="number" placeholder="Indique cantidad solicitada">
    <button id="productQuantityButton">Enviar</button>
</div>
    {{/each}}

<div>
    <button>Previus page</button>
    <input type="number" value={{productList.pagingCounter}}>
    <button><a href="./products?page={{productList.nextPage}}" >Next Page</a></button>
</div>
    
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>