<div class="cardContainer">
   
    <div>
        <img class="profileImg" src="/img/profile.png" alt="imagen perfil">
    </div>
    
    <div>
        <p>Nombre: {{user.name}}</p>
        <p>Apellido: {{user.surname}}</p>
        <p>Edad:{{user.age}}</p>
        <p>Email: {{user.email}}</p>
        <p>Rol:{{user.rol}}</p>
    </div>

    <div>
        <button id="btnLogout">Logout</button>
    </div>

</div>

<script src="/js/profile.js"></script>